*{
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: Arial, sans-serif;
}


body{
background: #f2f2f2;
padding: 20px;
color: #333;
}


h1{
text-align: center;
margin-bottom: 10px;
}

p{
    text-align: center;
    margin-bottom: 20px;
}

/* contenitore ricettario */
.ricettario{
    max-width: 800px;
    margin: auto;
}

/* sheda ricetta */
.ricetta-content{
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* titolo ricetta */
.ricetta-content h2{
    margin-bottom: 10px;
}

/* sezioni */
.sezione{
    margin-top: 15px;
}

.sezione h3{
    color: #e67e22;
    margin-bottom: 5px;
}

/* lista ingredienti */
ul{
    padding-left: 20px;
}

li{
    margin-bottom: 4px;
}

/* immagini */
.immagini{
    margin-top: 15px;
    text-align: center;
}

.immagini img{
    max-width: 100%;
    border-radius: 10px;
}
